.accordion {

    border-radius: 5px;
    margin-top: 20px;


}

.accordion-item {
    margin-top: 25px;
    background-color: #F2E8C9;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);


}


.accordion-header {

    border: none;
    width: 100%;
    text-align: left;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #F2E8C9;
    border-radius: 15px;


}

.accordion-header-text {
    font-family: LiteralBold;
    font-size: 24px;
    margin-left: 20px;
}

#AccordionDelimiter {

}


.accordion-icon {
    font-size: 16px;

}

.accordion-sub-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;

}

.accordion-sub-item-text {
    font-family: IgraSans;
    font-size: 18px;
    margin-left: 20px;
}

.accordion-icon.open {
    transform: rotate(90deg);

}

.accordion-content {
    overflow: hidden;
    max-height: 0; /* Изначально контент скрыт */
    border-radius: 15px;

}

.accordion-inner-content {
    padding: 10px 15px;
    background-color: #F2E8C9;
    border-radius: 15px;
}

#CourceDetailItemCancelButton {
    all: unset;
    border-radius: 15px;
    background-color: #F2C9C9;
    padding: 5px 10px;
    font-family: IgraSans;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}

#CourceDetailItemSaveButton {
    all: unset;
    border-radius: 15px;
    background-color: #D6F2C9;
    padding: 5px 10px;
    font-family: IgraSans;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}

#CourceDetailItemAddButton {
    all: unset;
    border-radius: 15px;
    background-color: #F2F2C9;
    padding: 5px 10px;
    font-family: IgraSans;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}

