@font-face {
    font-family: 'Seminaria';
    src: local('Seminaria'), url(../fonts/Seminaria.ttf) format('ttf');

}

@font-face {
    font-family: 'IgraSans';
    src: local('IgraSans'), url(../fonts/IgraSans.otf) format('otf');

}

@font-face {
    font-family: 'LiteralBold';
    src: local('Literal-Bold'), url(../fonts/Literal-Bold.ttf) format('ttf');

}

@font-face {
    font-family: 'LiteralRegular';
    src: local('Literal-Regular'), url(../fonts/Literal-Regular.ttf) format('ttf');

}

@font-face {
    font-family: 'LiteralLight';
    src: local('Literal-Light'), url(../fonts/Literal-Light.ttf) format('ttf');

}
