#LeftMenuContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F3ECE6;
    position: fixed; /* Фиксируем на экране */
    top: 0;
    left: 0;
    height: 100vh;
}

#LeftMenuContainer.collapsed {
    width: 60px;

}

.LeftMenuTopPageName {
    font-family: "Igra Sans";
    font-size: 14px;
    margin-left: 15px;
    transition: opacity 1s ease 1s;
}

#LeftMenuContainer.collapsed .LeftMenuTopPageName {
    opacity: 0;
    pointer-events: none;
}


#LeftMenuHeader {
    font-family: Seminaria;
    font-size: 40px;
    cursor: pointer;
}

#LeftMenuTopPagesContainer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#LeftMenuDownPagesContainer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#LeftMenuTopPages {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LeftMenuTopPages.collapsed {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.LeftMenuTopPage {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-bottom: 0px;
}

.LeftMenuTopPage.collapsed {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-bottom: 10px;
}

.collapsed {
    margin-bottom: 20px;
    width: 60px;

}

.collapsed:last-child {
    margin-bottom: 0px;

}



