#LrManageWrapper {
    background-color: #FCF8F5;
    width: 100%;
    height: 100%;
}

#LrManageContainer {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

#LrManageDelimiter {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid gray;
    margin-top: 25px;
}


#LrManageHeader {
    font-family: LiteralBold;
    font-size: 40px;
}


#LrManageCourceContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;


}

.LrManageInfoBlock {
    background-color: #F2E8C9;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.LrManageTextBlock {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.LrManageTextBlock:last-child {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.LrManageInfoBlockHeader {
    font-family: LiteralBold;
    font-size: 18px;
}

.LrManageInfoBlockInfo {
    font-family: IgraSans;
    font-size: 14px;
    margin-left: 20px;
}

.LrManageInfoBlockInfoWithImage {
    font-family: IgraSans;
    font-size: 14px;
    margin-left: 20px;
    display: flex;
}

#LrManageManageButtons {
    margin-top: 20px;
}

#LrManageChangeButton {
    all: unset;
    background-color: #A8E4A0;
    font-size: 16px;
    font-family: IgraSans;
    padding: 12px 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#LrManageDeleteButton {
    all: unset;
    background-color: #FFA05C;
    font-size: 16px;
    font-family: IgraSans;
    padding: 12px 25px;
    border-radius: 15px;
    margin-left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#LrManageInfoFileHeader {
    font-family: LiteralBold;
    font-size: 24px;
}




