#MyChatsWrapper {
    background-color: #FCF8F5;
    width: 100%;
    height: 100%;
}

#MyChatsContainer {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

}


.MyChatsFindContactsWrapper{
    margin-top: 10px;
    display: flex;
    height: 25px;
    align-content: center;
}
.MyChatsFindContactsText {
    font-size: 18px;
}

#MyChatsDelimiter {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid gray;
    margin-top: 25px;
}


#MyChatsHeader {
    font-family: LiteralBold;
    font-size: 40px;
}


#MyChatsCourceContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;


}

.MyChatsInfoBlock {
    background-color: #F2E8C9;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MyChatsInfoBlockWithChatsImage {
    background-color: #F2E8C9;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.MyChatsTextBlockWithChatsImage {

    margin-bottom: 15px;
    margin-left: 40px;
    margin-top: 10px;
}

.MyChatsTextBlock {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.MyChatsTextBlock:last-child {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.MyChatsInfoBlockHeader {
    font-family: LiteralBold;
    font-size: 18px;
}

.MyChatsInfoBlockInfo {
    font-family: IgraSans;
    font-size: 14px;
    margin-left: 20px;
}

.MyChatsInfoBlockHeaderWithChatsImage {
    font-family: LiteralBold;
    font-size: 26px;
}

.MyChatsInfoBlockInfoWithChatsImage {
    font-family: IgraSans;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.MyChatsInfoBlockInfoWithImage {
    font-family: IgraSans;
    font-size: 14px;
    margin-left: 20px;
    display: flex;
}

#ExpandCourcesButton {
    all: unset;
    cursor: pointer;
    font-family: IgraSans;
    font-size: 12px;
    text-decoration: underline;

}

.MyChatsCourseInInfoBlock {
    font-family: IgraSans;
    font-size: 14px;
    margin-bottom: 10px;
}





