#MyProfileWrapper {
    background-color: #FCF8F5;
    width: 100%;
    height: 100%;
}

#MyProfileContainer {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

#MyProfileDelimiter {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid gray;
    margin-top: 25px;
}


#MyProfileHeader {
    font-family: LiteralBold;
    font-size: 40px;
}


#MyProfileCourceContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;


}

.profile-image-container {
    display: inline-block;
    position: relative;
    text-align: center;
}

.profile-image-container img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.profile-image-container img:hover {
    opacity: 0.7;
    border: 2px solid #007bff;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}


.MyProfileInfoBlock {
    background-color: #F2E8C9;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MyProfileInfoBlockWithProfileImage {
    background-color: #F2E8C9;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: start;
}

.MyProfileTextBlockWithProfileImage {

    margin-bottom: 15px;
    margin-left: 40px;
    margin-top: 10px;
}

.MyProfileTextBlock {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.MyProfileTextBlock:last-child {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.MyProfileInfoBlockHeader {
    font-family: LiteralBold;
    font-size: 18px;
}

.MyProfileInfoBlockInfo {
    font-family: IgraSans;
    font-size: 14px;
    margin-left: 20px;
}

.MyProfileInfoBlockHeaderWithProfileImage {
    font-family: LiteralBold;
    font-size: 26px;
}

.MyProfileInfoBlockInfoWithProfileImage {
    font-family: IgraSans;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.MyProfileInfoBlockInfoWithImage {
    font-family: IgraSans;
    font-size: 14px;
    margin-left: 20px;
    display: flex;
}

#ExpandCourcesButton {
    all: unset;
    cursor: pointer;
    font-family: IgraSans;
    font-size: 12px;
    text-decoration: underline;

}

.MyProfileCourseInInfoBlock {
    font-family: IgraSans;
    font-size: 14px;
    margin-bottom: 10px;
}





